<span class="created-by">Created by <b><a>Nikho Sagala</a></b> 2017</span>
<span class="created-by">Template by <b><a href="https://akveo.com" target="_blank">Akveo</a></b> 2017</span>
<div class="socials">
  <a href="https://github.com/nikhosagala" target="_blank" class="ion ion-social-github"></a>
  <a href="https://www.facebook.com/nikhosagala" target="_blank" class="ion ion-social-facebook"></a>
  <a href="https://twitter.com/nikhosagala" target="_blank" class="ion ion-social-twitter"></a>
  <a href="https://www.linkedin.com/in/nikhosagala" target="_blank" class="ion ion-social-linkedin"></a>
</div>
