<div class="row">
  <div class="col-lg-9">
    <nb-card>
      <nb-card-header>Create PR/SPK</nb-card-header>
      <nb-card-body>
        <div class="row id-rab">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="ID RAB" class="form-control">
          </div>
        </div>
        <div class="row workType">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Jenis Pekerjaan" disabled class="form-control">
          </div>
        </div>
        <div class="row treg">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="TREG" disabled class="form-control">
          </div>
        </div>
        <div class="row witel">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="WITEL" disabled class="form-control">
          </div>
        </div>
        <div class="row gedung">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Gedung" disabled class="form-control">
          </div>
        </div>
        <div class="row lokasi">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Lokasi" disabled class="form-control">
          </div>
        </div>
        <div class="row approveDate">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Tanggal RAB Disetujui" disabled class="form-control">
          </div>
        </div>
        <div class="row akun">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Akun" disabled class="form-control">
          </div>
        </div>
        <div class="row anggaran">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Anggaran" disabled class="form-control">
          </div>
        </div>
        <div class="row nilai">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Nilai" disabled class="form-control">
          </div>
        </div>
        <div class="row vendor">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Vendor" disabled class="form-control">
          </div>
        </div>
        <div class="row spkpr">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="SPK/PR" disabled class="form-control">
          </div>
        </div>
        <div class="row nodin">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="No Nodin" disabled class="form-control">
          </div>
        </div>
        <div class="row createAt">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Tanggal SPK/PR Dibuat" disabled class="form-control">
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-success btn-rectangle btn-demo">Save</button>
        <button class="btn btn-success btn-rectangle btn-demo">Cancel</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
