<div class="row">
  <div class="col-lg-9">
    <nb-card>
      <nb-card-header>Buat SPB Baru</nb-card-header>
      <nb-card-body>
        <form>
          <div class="row id-spk">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="ID SPB" class="form-control">
            </div>
          </div>
          <div class="row workType">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Pekerjaan" disabled class="form-control">
            </div>
          </div>
          <div class="row spkCreatedDate">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Tanggal SPK/PR Dibuat" disabled class="form-control">
            </div>
          </div>
          <div class="row nilai">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Nilai" disabled class="form-control">
            </div>
          </div>
          <div class="row vendor">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Vendor" disabled class="form-control">
            </div>
          </div>
          <div class="row vendorAddress">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Alamat Vendor" disabled class="form-control">
            </div>
          </div>
          <div class="row vendorBank">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Nomor Rekening" disabled class="form-control">
            </div>
          </div>
          <div class="row bankAddress">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Alamat Bank" disabled class="form-control">
            </div>
          </div>
          <div class="row payFor">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Untuk Pembayaran" class="form-control">
            </div>
          </div>
          <div class="row workDoc">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Kontrak Perjanjian" class="form-control">
            </div>
          </div>
          <div class="row penagihanDoc">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Surat Penagihan" class="form-control">
            </div>
          </div>
          <div class="row kwitansiDoc">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Kwitansi" class="form-control">
            </div>
          </div>
          <div class="row fakturDoc">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Faktur/Kwitansi/Nota" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Surat Pengantar Barang" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Jaminan" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="BA Pemeriksaan Barang" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="BA Prestasi Phisik" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="BA Serah Terima" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Justifikasi" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Purchase Order" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Penerimaan Barang" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Anggaran" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="IF 02/IF 03" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Surat Garansi" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Foto Bukti Pekerjaan" class="form-control">
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-success btn-rectangle btn-demo">Save</button>
        <button class="btn btn-success btn-rectangle btn-demo">Cancel</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
