<div class="row">
  <div class="col-lg-9">
    <nb-card>
      <nb-card-header>Buat Akun Baru</nb-card-header>
      <nb-card-body>
        <form>
          <div class="row periode-akun">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Periode" class="form-control">
            </div>
          </div>
          <div class="row akun">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Akun" class="form-control">
            </div>
          </div>
          <div class="row nilai-akun">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Nilai" class="form-control">
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-success btn-rectangle btn-demo">Save</button>
        <button class="btn btn-success btn-rectangle btn-demo">Cancel</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
